In [1]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hp\anaconda3\lib\site-packages (1.2.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install imblearn

Requirement already satisfied: imblearn in c:\users\hp\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\hp\anaconda3\lib\site-packages (from imblearn) (0.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\hp\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.21.5)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\hp\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\hp\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install lightgbm

Requirement already satisfied: lightgbm in c:\users\hp\anaconda3\lib\site-packages (3.3.4)
Requirement already satisfied: numpy in c:\users\hp\anaconda3\lib\site-packages (from lightgbm) (1.21.5)
Requirement already satisfied: wheel in c:\users\hp\anaconda3\lib\site-packages (from lightgbm) (0.37.1)
Requirement already satisfied: scipy in c:\users\hp\anaconda3\lib\site-packages (from lightgbm) (1.7.3)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\users\hp\anaconda3\lib\site-packages (from lightgbm) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (2.2.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import numpy as np
import pandas as pd

from imblearn.over_sampling import SMOTE
from imblearn.combine import SMOTETomek

import matplotlib.pyplot as plt
# import itertools

%matplotlib inline

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import matthews_corrcoef

import seaborn as sns

import time

# from xgboost import XGBClassifier

warnings.simplefilter("ignore", UserWarning)
import lightgbm as lgb

In [3]:
import pickle

with open("test", "rb") as fp:   # Unpickling
    b = pickle.load(fp)

In [4]:
print(b)

['L1_S24_F1609', 'L1_S24_F1713', 'L1_S24_F1525_T4', 'L3_S33_F3869', 'L3_S29_F3348', 'L3_S37_F3950', 'L0_S22_F561', 'L1_S24_F1814', 'L3_S30_F3744', 'L2_S26_F3062', 'L1_S24_F1599', 'L0_S2_F36', 'L0_S14_F362', 'L3_S29_F3345', 'L3_S29_F3317_T1', 'L1_S24_F1733', 'L0_S11_F326', 'L0_S2_F44', 'L1_S24_F1820', 'L0_S11_F322', 'L2_S27_F3192_T143', 'L0_S14_F386', 'L2_S27_F3155', 'L1_S24_F1690', 'L2_S26_F3121', 'L0_S9_F165', 'L1_S24_F1672', 'L0_S11_F298', 'L1_S24_F1763', 'L0_S10_F254', 'L3_S30_F3554', 'L3_S30_F3774', 'L3_S29_F3379', 'L3_S29_F3382', 'L3_S36_F3934', 'L1_S24_F1627', 'L3_S30_F3494', 'L3_S29_F3479', 'L0_S0_F12', 'L0_S14_F358', 'L1_S24_F1632', 'L3_S30_F3649', 'L0_S8_F149', 'L1_S24_D1522', 'L1_S24_F1569', 'L0_S22_F546', 'L2_S26_F3077', 'L1_S24_F1829', 'L1_S24_F1642', 'L3_S36_F3920', 'L3_S30_F3664', 'L1_S24_F1748', 'L3_S29_F3327', 'L1_S24_F1685', 'L3_S35_F3903', 'L2_S27_F3199', 'L0_S0_F2', 'L1_S24_F1723', 'L3_S35_F3896', 'L3_S29_F3485', 'L0_S22_F606', 'L2_S27_F3133', 'L1_S24_F1844', 'L2_S27_F3162', 'L3_S33_D3856', 'L0_S11_F310', 'L2_S27_F3218', 'L1_S24_F1516', 'L3_S29_F3354', 'L1_S24_F1525_T3', 'L0_S10_F229', 'L1_S24_F1565', 'L2_S27_F3210', 'L3_S30_F3734', 'L3_S30_F3639', 'L1_S24_D1674', 'L3_S30_F3669', 'L1_S24_F1793', 'L0_S12_F334', 'L0_S11_D280', 'L3_S30_F3794', 'L0_S22_F596', 'L0_S11_F314', 'L0_S10_F239', 'L0_S6_F118', 'L1_S24_F1810', 'L0_S3_F76', 'L0_S1_F24', 'L2_S27_F3192_T145', 'L3_S37_F3948', 'L2_S28_F3224_T1', 'L3_S33_F3855', 'L1_S24_F1604', 'L3_S29_F3333', 'L3_S30_F3754', 'L1_S24_F1510_T4', 'L0_S12_F336', 'L1_S24_F1571', 'L3_S30_F3544', 'L0_S10_F234', 'L3_S30_F3514', 'L3_S29_F3324', 'L3_S30_F3769', 'L0_S18_F449', 'L1_S24_F1822', 'L0_S14_F370', 'L3_S34_F3882', 'L0_S4_D106', 'L0_S8_D145', 'L1_S24_F1512', 'L2_S26_F3036', 'L1_S24_F1753', 'L1_S24_D1765', 'L3_S30_F3759', 'L0_S0_F4', 'L0_S9_F190', 'L0_S7_F138', 'L0_S10_F219', 'L0_S3_F80', 'L3_S30_F3809', 'L3_S30_F3779', 'L0_S2_F64', 'L0_S7_F142', 'L1_S24_F1525_T2', 'L1_S24_F1637', 'L1_S24_F1657', 'L0_S12_F340', 'L1_S24_F1783', 'L2_S26_F3073', 'L0_S11_F318', 'L0_S1_F28', 'L0_S4_F109', 'L2_S27_F3148', 'L1_S24_F1728', 'L1_S24_F1520', 'L3_S30_F3819', 'L3_S29_D3316', 'L2_S26_F3106', 'L2_S27_F3214', 'L0_S12_F332', 'L3_S36_F3938', 'L0_S11_F282', 'L1_S24_F1573', 'L0_S9_F195', 'L1_S24_F1831', 'L3_S30_F3584', 'L1_S24_D1570', 'L3_S34_D3875', 'L3_S30_F3729', 'L3_S30_F3804', 'L0_S7_D137', 'L0_S12_F344', 'L1_S24_F1559_T1', 'L1_S24_F1718', 'L0_S14_F390', 'L0_S12_F352', 'L3_S30_F3569', 'L3_S30_F3524', 'L3_S33_F3865', 'L1_S24_F1567', 'L3_S32_F3854_T2', 'L3_S29_F3427', 'L3_S37_D3942', 'L0_S9_F180', 'L1_S24_F1798', 'L0_S22_F591', 'L0_S0_F16', 'L3_S29_F3339', 'L3_S30_F3784', 'L2_S27_F3144', 'L0_S12_F350', 'L0_S0_F14', 'L0_S8_F144', 'L0_S11_F294', 'L1_S24_F1510_T2', 'L3_S29_F3461', 'L0_S9_F185', 'L2_S27_F3129', 'L1_S24_F1803', 'L0_S3_F84', 'L0_S0_F0', 'L0_S3_F72', 'L0_S10_F244', 'L0_S5_F116', 'L2_S26_F3099_T143', 'L1_S24_D1826', 'L1_S24_D1511', 'L1_S24_F1652', 'L3_S29_F3412', 'L1_S24_D1576', 'L1_S24_F1773', 'L0_S3_F68', 'L3_S34_F3880', 'L3_S30_F3564', 'L3_S29_F3433', 'L1_S24_F1838', 'L1_S24_F1578', 'L0_S22_F566', 'L0_S12_F346', 'L1_S24_F1662', 'L1_S24_F1758', 'L3_S29_F3464', 'L0_S14_F374', 'L2_S26_F3055', 'L0_S10_F249', 'L1_S24_F1788', 'L0_S3_F100', 'L0_S14_F382', 'L0_S9_F160', 'L3_S30_F3829', 'L0_S2_F56', 'L2_S27_F3170', 'L0_S22_F571', 'L1_S24_F1695', 'L1_S24_F1575', 'L1_S24_F1768', 'L2_S26_F3040', 'L0_S6_D120', 'L3_S33_F3859', 'L2_S26_F3047', 'L3_S35_F3898', 'L0_S12_F342', 'L1_S24_D1583', 'L0_S13_F354', 'L0_S11_F286', 'L0_S20_D462', 'L0_S12_D331', 'L0_S0_F6', 'L1_S24_F1622', 'L3_S33_F3871', 'L2_S26_F3038_T1', 'L1_S24_F1778', 'L0_S2_F48', 'L1_S24_F1667', 'L0_S10_F224', 'L3_S30_F3689', 'L2_S27_F3206', 'L1_S24_F1594', 'L1_S24_F1850', 'L3_S29_F3360', 'L3_S37_F3946', 'L0_S1_D26', 'L3_S36_F3926', 'L0_S11_F302', 'L3_S30_F3674', 'L0_S22_F611', 'L3_S29_F3318', 'L0_S11_F306', 'L1_S24_D1809', 'L0_S12_F338', 'L0_S9_F175', 'L0_S0_D1', 'L0_S22_F551', 'L3_S29_F3407', 'L3_S29_F3351', 'L0_S17_F433', 'L3_S35_F3884', 'L3_S30_F3574', 'L3_S36_D3919', 'L1_S24_F1738', 'L2_S26_F3117', 'L0_S2_F40', 'L0_S6_F132', 'L3_S30_F3704', 'L0_S8_F146', 'L1_S24_F1514', 'L3_S35_F3913', 'L0_S9_D152', 'L3_S35_D3886', 'L3_S30_F3609', 'L1_S24_F1700', 'L3_S30_F3749', 'L3_S29_F3470', 'L0_S3_F92', 'L3_S30_F3644', 'L0_S5_F114', 'L1_S24_F1510_T3', 'L2_S26_D3037', 'L3_S30_F3634', 'L0_S10_F269', 'L1_S24_F1743', 'L3_S33_F3873', 'L1_S24_F1846', 'L0_S9_F170', 'L2_S27_F3131_T1', 'L2_S27_D3130', 'L0_S9_F155', 'L0_S9_F210', 'L3_S29_F3482', 'L1_S24_F1842', 'L3_S30_F3684', 'L2_S26_F3069', 'L3_S29_F3315', 'L3_S30_F3504', 'L3_S29_F3357', 'L3_S33_F3857', 'L0_S3_D70', 'L3_S30_F3629', 'L3_S29_F3330', 'L3_S30_F3799', 'L2_S27_F3140', 'L1_S24_F1824', 'L0_S9_F205', 'L3_S29_F3336', 'L0_S9_F200', 'L0_S6_F122', 'L0_S20_F461', 'L1_S24_F1582_T1', 'L3_S35_F3894', 'L0_S10_D216', 'L0_S14_F366', 'L3_S30_F3624', 'L2_S27_F3166', 'L0_S22_F586', 'L1_S24_F1836', 'L2_S26_F3099_T145', 'L3_S36_F3918', 'L3_S35_F3908', 'L0_S0_F10', 'L1_S24_F1816', 'L0_S22_F601', 'L3_S30_F3534', 'L3_S29_F3376', 'L1_S24_F1848', 'L3_S29_F3430', 'L3_S29_F3476', 'L0_S2_D34', 'L3_S29_F3321', 'L1_S24_F1544', 'L3_S30_F3724', 'L3_S29_F3488', 'L3_S30_F3679', 'L1_S24_F1581', 'L0_S10_F274', 'L0_S12_F348', 'L0_S17_D432', 'L1_S24_F1818', 'L0_S22_F556', 'L0_S0_F22', 'L0_S22_F576', 'L0_S17_F431', 'L2_S26_F3113', 'L3_S29_F3342', 'L3_S30_F3764', 'L3_S36_F3930', 'L0_S20_F463', 'L0_S4_F104', 'L1_S24_F1518', 'L0_S22_F581', 'L3_S30_F3509', 'L3_S32_F3851_T1', 'L3_S32_F3854_T128', 'L3_S30_F3579', 'L0_S2_F60', 'L0_S0_F8', 'L3_S29_F3473', 'L0_S7_F136', 'L3_S29_F3436', 'L0_S10_F259', 'L1_S24_D1568', 'L2_S26_F3125', 'L3_S30_F3604', 'L2_S26_F3051', 'L0_S5_D115', 'L3_S29_F3373', 'L0_S13_F356', 'L3_S35_F3889', 'L0_S0_F20', 'L3_S29_F3491', 'L0_S10_F264', 'L3_S30_F3739', 'L1_S24_F1808', 'L3_S33_F3867', 'L1_S24_D1566', 'L3_S30_F3519', 'L0_S2_F32', 'L0_S11_F290', 'L1_S24_F1647', 'L0_S0_F18', 'L0_S18_F439', 'L0_S3_F96', 'L3_S30_D3496', 'L0_S12_F330', 'L1_S24_F1539', 'L1_S24_F1812', 'L3_S30_F3709']

In [22]:
b.append('Response')

In [23]:
exc_df = pd.read_csv('exc.csv' , usecols = b)

In [24]:
exc_df.shape

(547820, 387)

In [25]:
exc_df = exc_df.fillna(0)

In [26]:
exc_df.head()

,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,L0_S0_F18,...,L2_S26_F3099_T143,L2_S26_F3099_T145,L2_S27_F3131_T1,L2_S27_F3192_T143,L2_S27_F3192_T145,L2_S28_F3224_T1,L3_S29_F3317_T1,L3_S32_F3851_T1,L3_S32_F3854_T128,L3_S32_F3854_T2
0,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,0.083,...,0,0,0,0,0,0,0,0,0,0
1,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
2,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0,0,0,0,0,0,1,0,0,0
3,-0.016,-0.041,-0.179,-0.179,-0.056,0.161,-0.007,-0.032,-0.082,0.163,...,0,0,0,0,0,0,1,0,0,0
4,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0,0,0,0,0,0,1,0,0,0

In [27]:
exc_df.to_csv(r'D:/bosch_production/1/exc_def.csv', index = False)

In [17]:
exc_df = pd.read_csv('exc_def.csv')

In [3]:
exc_df.head()

,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,L0_S0_F18,...,L2_S26_F3099_T143,L2_S26_F3099_T145,L2_S27_F3131_T1,L2_S27_F3192_T143,L2_S27_F3192_T145,L2_S28_F3224_T1,L3_S29_F3317_T1,L3_S32_F3851_T1,L3_S32_F3854_T128,L3_S32_F3854_T2
0,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,0.083,...,0,0,0,0,0,0,0,0,0,0
1,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
2,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0,0,0,0,0,0,1,0,0,0
3,-0.016,-0.041,-0.179,-0.179,-0.056,0.161,-0.007,-0.032,-0.082,0.163,...,0,0,0,0,0,0,1,0,0,0
4,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0,0,0,0,0,0,1,0,0,0

In [4]:
smt = SMOTETomek(random_state=42)
def sampling(X, y):
    X_res, y_res = smt.fit_resample(X, y)
    return X_res , y_res

In [5]:
max_acc_dict = {}
min_acc_dict = {}
overall_acc_dict = {}
std_dev_dict = {}
matrix = {}
feature_imp_dict = {}
def storing(feature_imp, y_test ,y_pred, max_acc, min_acc , overall_acc , std_dev, product_name):
    max_acc_dict[product_name] = max_acc
    min_acc_dict[product_name] = min_acc
    overall_acc_dict[product_name] = overall_acc
    std_dev_dict[product_name] = std_dev
    feature_imp_dict[product_name] = feature_imp
    tn, fp, fn, tp = confusion_matrix(y_test ,y_pred).ravel()
    matrix[product_name] = [tn, fp, fn, tp]

In [6]:
def stratified_model_training(X, y):
    skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=1)
    acc_stratified = []
    model = lgb.LGBMClassifier()
    product_name = 'exc'
    for train_index, test_index in skf.split(X, y):
        X_train_fold, X_test_fold = X.iloc[train_index], X.iloc[test_index]
        y_train_fold, y_test_fold = y.iloc[train_index], y.iloc[test_index]
        scaler = StandardScaler()
        X_train_scaled = scaler.fit_transform(X_train_fold)
        model.fit(X_train_scaled, y_train_fold)
        X_test_scaled = scaler.transform(X_test_fold)
        y_pred = model.predict(X_test_scaled)
        acc_stratified.append(model.score(X_test_scaled, y_test_fold))
    max_acc = max(acc_stratified)*100
    min_acc = min(acc_stratified)*100
    overall_acc = np.array(acc_stratified).mean()*100
    std_dev = np.std(acc_stratified)
    feature_imp = pd.DataFrame(sorted(zip(model.feature_importances_,X.columns)), columns=['Value','Feature'])
    y_pred = model.predict(X_test_scaled)
    storing(feature_imp, y_test_fold ,y_pred, max_acc, min_acc , overall_acc , std_dev, product_name)
    print('Done!')

In [6]:
exc_df.head()

,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,L0_S0_F18,...,L2_S26_F3099_T143,L2_S26_F3099_T145,L2_S27_F3131_T1,L2_S27_F3192_T143,L2_S27_F3192_T145,L2_S28_F3224_T1,L3_S29_F3317_T1,L3_S32_F3851_T1,L3_S32_F3854_T128,L3_S32_F3854_T2
0,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,0.083,...,0,0,0,0,0,0,0,0,0,0
1,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
2,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0,0,0,0,0,0,1,0,0,0
3,-0.016,-0.041,-0.179,-0.179,-0.056,0.161,-0.007,-0.032,-0.082,0.163,...,0,0,0,0,0,0,1,0,0,0
4,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0,0,0,0,0,0,1,0,0,0

In [7]:
df = exc_df
X = df.drop('Response' , 1)
y = df['Response']
X_res , y_res = sampling(X, y)

In [8]:
print(X_res.shape)
print(y_res.shape)

(1087706, 386)
(1087706,)

In [9]:
X_res.to_csv(r'X_res.csv', index = False)
y_res.to_csv(r'y_res.csv', index = False)

In [2]:
X_res = pd.read_csv('X_res.csv')
y_res = pd.read_csv('y_res.csv')

In [7]:
start = time.time()
stratified_model_training(X_res, y_res)
end = time.time()
print(end- start)

Done!
301.3333902359009

In [8]:
feature_imp_dict

{'exc':      Value       Feature
 0        0      L0_S0_F0
 1        0     L0_S0_F18
 2        0   L0_S10_F219
 3        0   L0_S10_F244
 4        0   L0_S10_F249
 ..     ...           ...
 381     69  L3_S33_F3855
 382     85      L0_S0_F8
 383    121  L3_S30_F3799
 384    173  L3_S30_F3764
 385    193  L3_S29_F3354

 [386 rows x 2 columns]}

In [9]:
max_acc_dict

{'exc': 98.70369263724999}

In [10]:
min_acc_dict

{'exc': 98.58095715290452}

In [11]:
overall_acc_dict

{'exc': 98.62977680314515}

In [12]:
std_dev_dict

{'exc': 0.00045964831225390535}

In [13]:
feature_imp = feature_imp_dict['exc']
feature_imp = feature_imp[feature_imp['Value'] > 0]
feature_imp

     Value       Feature
129      1     L0_S0_F22
130      1   L0_S11_F282
131      1   L0_S11_F290
132      1   L0_S11_F302
133      1   L0_S11_F318
..     ...           ...
381     69  L3_S33_F3855
382     85      L0_S0_F8
383    121  L3_S30_F3799
384    173  L3_S30_F3764
385    193  L3_S29_F3354

[257 rows x 2 columns]

In [14]:
features_ = feature_imp.tail(20)
features_

     Value       Feature
366     33  L3_S36_F3918
367     34   L0_S11_F298
368     36  L3_S29_F3321
369     36  L3_S30_F3754
370     37      L0_S0_F4
371     37  L3_S35_F3894
372     38   L0_S14_F366
373     38  L3_S29_F3360
374     41  L3_S29_F3482
375     47   L0_S22_F581
376     48  L3_S30_F3509
377     51  L3_S30_F3519
378     55  L3_S29_F3357
379     57   L0_S14_F358
380     67  L3_S30_F3514
381     69  L3_S33_F3855
382     85      L0_S0_F8
383    121  L3_S30_F3799
384    173  L3_S30_F3764
385    193  L3_S29_F3354

In [15]:
matrix

{'exc': [107999, 771, 2049, 106722]}

In [18]:
df = exc_df
features_ = feature_imp.tail(20)
features = list(features_['Feature'].values)
features.append('Response')
df = pd.DataFrame(df, columns=features)
X = df.drop('Response' , 1)
y = df['Response']

In [19]:
start = time.time()
X_res_feat , y_res = sampling(X, y)
end = time.time()
print(end - start)

637.664776802063

In [20]:
print(X_res.shape)
print(X_res_feat.shape)

(1087706, 386)
(1088654, 20)

In [23]:
start = time.time()
stratified_model_training(X_res_feat, y_res)
end = time.time()
print(end - start)

Done!
16.479312658309937

In [24]:
max_acc_dict

{'exc': 96.53792983084631}

In [25]:
min_acc_dict

{'exc': 96.32023000858858}

In [26]:
overall_acc_dict

{'exc': 96.43210796578981}

In [27]:
std_dev_dict

{'exc': 0.0007740160251118373}

In [28]:
matrix

{'exc': [108255, 610, 7016, 101849]}